
.orders {
    font-family: Arial, sans-serif;
    border-radius: 8px;
  }
  
  .orders h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Table styles */
  .div-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .div-table th,
  .div-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .div-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .div-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .div-table tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Status-specific styles */
  .completed {
    color: green;
    font-weight: bold;
  }
  
  .pending {
    color: goldenrod;
    font-weight: bold;
  }
  
  .cancelled {
    color: red;
    font-weight: bold;
  }
  
  .trending-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2% 0%;
    background-color: #f9f9f9;
  }
  
  .food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-image {
    width: 250px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .food-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .food-price,
  .food-orders,
  .food-amount {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .review-container {
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .review-heading {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .review-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 240px;
    padding: 2%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .review-card:hover {
    transform: scale(1.05);
  }
  
  .user-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .user-rating {
    font-size: 16px;
    color: #ffa500;
    margin-bottom: 10px;
  }
  
  .user-review {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  